form {
    width: 100%;
}
form > * {
    display: block;
    width: 100%;
    margin: 10px 0px;
}
* :focus {
    border-color: none;
    border: none;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
input {
    background-color: unset;
    border: none;
    outline: none;
    max-height: 400px;
    min-height: 40px;
    margin: 0 10px 0 0px;
    background-color: #fff;
    font-size: 18px;
}
