.song-container {
    width: 100%;
    display: grid;
    grid-template-rows: 0.5fr 1fr;
    grid-template-columns: 1fr;
    max-height: 80vh;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    text-align: center;

    .img-container {
        grid-row: 1/2;
        height: 400px;
        padding: 10px;
        box-shadow: -2px 1px 5px 0px rgb(165, 91, 30);
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            image-rendering: auto;
        }
    }
    .song-player {
        margin-top: 20px;
        width: 100%;
        grid-row: 2/-2;
    }
}
