.menu {
    margin-bottom: 20px;
    margin-top: 5px;
    // align-items: flex-end;
    svg {
        margin: 1px;
        background-color: rgb(210, 214, 202);
        padding: 3px 1px;
        &:hover {
            box-shadow: -2px -1px 3px 0 sandybrown;
        }
    }
}
.results {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.list {
    img {
        display: none;
    }
    .card {
        padding: 10px;

        &:hover {
            background-color: blanchedalmond;
        }
    }
}
.tile {
    justify-content: space-between;
    grid-template-columns: repeat(auto-fill, minmax(50px, 150px));
    grid-row: auto;
    display: grid;
    gap: 20px;

    // align-self: center;
    img {
        width: 100%;
        // height: px;
        object-fit: cover;
    }
    .card {
        width: 100%;
        &:hover {
            .tulip {
                display: block;
            }
        }
    }
}
