.menu {
    margin-bottom: 20px;
    grid-column: 1/-1;
    // background-color: rgba(128, 128, 128, 0.295);
    padding: 5px;
    svg {
        margin: 1px;
        background-color: rgb(210, 214, 202);
        padding: 3px 1px;
        &:hover {
            box-shadow: -2px -1px 3px 0 sandybrown;
        }
    }
}
.results {
    margin-top: 30px;
}
.list {
    max-width: 500px;

    img {
        display: none;
    }
    .card {
        padding: 20px;

        &:hover {
            background-color: blanchedalmond;
        }
    }
}
.tile {
    max-width: 500px;
    justify-content: space-between;
    grid-template-columns: repeat(auto-fill, minmax(50px, 200px));
    grid-row: auto;
    display: grid;
    gap: 8px;

    img {
        width: 100%;
        // height: px;
        object-fit: cover;
    }
    .card {
        &:hover {
            .tulip {
                display: block;
            }
        }
    }
}

.card {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: rgb(233, 229, 224);
    border-bottom: 1px solid #f50;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.14),
        0px 0px 0px 0px rgba(0, 0, 0, 0.12);
    box-shadow: 0 8px 40px -19px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    // animation: pulse 3s ease infinite alternate, nudge 5s linear infinite alternate;
    .title {
        font-size: 20px;
        // text-align: center;
        height: 40px;
        padding: 10px;
        overflow: hidden;
    }
}
.tulip {
    position: absolute;
    top: 0;
    display: none;
    background-color: blanchedalmond;
    height: 100%;
    padding: 10px;
}

@keyframes pulse {
    0%,
    100% {
        background-color: red;
    }
    50% {
        background-color: orange;
    }
}

@keyframes nudge {
    0%,
    100% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(150px, 0);
    }

    80% {
        transform: translate(-150px, 0);
    }
}
