.card {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: rgb(233, 229, 224);
    border-bottom: 1px solid #f50;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.14),
        0px 0px 0px 0px rgba(0, 0, 0, 0.12);
    box-shadow: 0 8px 40px -19px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    .title {
        font-size: 20px;
        // text-align: center;
        height: 40px;
        padding: 5px;
        overflow: hidden;
    }
}
.tulip {
    position: absolute;
    top: 0;
    display: none;
    background-color: blanchedalmond;
    height: 100%;
    padding: 10px;
    width: 100%;
}
