.menu {
    margin-top: 5px;
    svg {
        margin: 1px;
        background-color: rgb(210, 214, 202);
        padding: 3px 1px;
        &:hover {
            box-shadow: -2px -1px 3px 0 sandybrown;
        }
    }
}
.song-list {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.list {
    img {
        display: none;
    }
    .card {
        padding: 10px;
        max-height: 80px;

        &:hover {
            background-color: blanchedalmond;
        }
    }
}
.tile {
    justify-content: space-between;
    grid-template-columns: repeat(auto-fill, minmax(50px, 150px));
    grid-row: auto;
    display: grid;
    gap: 20px;

    img {
        width: 100%;
        object-fit: cover;
    }
    .card {
        width: 100%;
        &:hover {
            .tulip {
                display: block;
            }
        }
    }
    .title {
        display: none;
    }
}

@media screen and (max-width: $narrow-breakpoint) {
    .list {
        .card {
            padding: 5px;
            height: 15%;
        }
    }
}
@media screen and (max-width: $mobile-breakpoint) {
    .tile {
        justify-content: center;
    }
}
