.chosen {
    // animation-timing-function: ease-in;
    animation: fade-in 1s;
    -webkit-animation: fade-in 1s;
    -moz-animation: fade-in 1s;
    -o-animation: fade-in 1s;
    -ms-animation: fade-in 1s;
}
.not {
    visibility: hidden;
}
.yes {
    visibility: visible;
}
.slide-out {
    animation: slide-out 7s ease-in forwards;
    -webkit-animation: slide-out 0.5s ease-in forwards;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-ms-keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes slide-out {
    0% {
        opacity: 1;
        transform: translateX(0%);
        bottom: 80%;
    }
    50% {
        opacity: 0.2;
        transform: translateX(150%);
    }

    100% {
        opacity: 0;

        transform: translateX(160%);
    }
}

@media screen and (max-width: $narrow-breakpoint) {
    @keyframes slide-out {
        0% {
            opacity: 1;

            transform: translateY(0%);
        }

        50% {
            opacity: 0.5;
            transform: translateY(250%);
        }

        100% {
            transform: translateY(1000%);
            opacity: 0;
        }
    }
}
